#root{
    -fx-background-image: url("../images/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
}

#top{

}

#minWindow{
    -fx-background-color: #00000000;
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-font-family: "Fira Code";
    -fx-pref-width: 55;
    -fx-border-radius: 0;
    -fx-border-width: 0;
}

#minWindow:hover{
    -fx-background-color: #444444;

}

#maxWindow{
    -fx-background-color: #00000000;
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-font-family: "Fira Code";
    -fx-pref-width: 55;
    -fx-border-radius: 0;
    -fx-border-width: 0;
}

#maxWindow:hover{
    -fx-background-color: #444444;
}

#closeWindow{
    -fx-background-color: #00000000;
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-font-family: "Fira Code";
    -fx-pref-width: 55;
    -fx-border-radius: 0;
    -fx-border-width: 0;
}

#closeWindow:hover{
    -fx-background-color: #e81123;
}

#icon{
    -fx-background-image: url("../images/icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 150 150;
    -fx-background-position: center center;
}

#bigMsg{
    -fx-font-size: 36;
    -fx-text-fill: white;
    -fx-font-family: '微软雅黑';
}
#smallMsg{
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-font-family: '微软雅黑';
}
#head{
    -fx-background-image: url("../images/head.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
#button{
    -fx-background-color: white;
}
#button:hover{
    -fx-background-color: #cce3f5;
}
#btn_add{
    -fx-font-size: 50;
    -fx-font-family: '微软雅黑';
    -fx-text-fill: #278ddd;
}
#btn_word{
    -fx-font-size: 25;
    -fx-font-family: '微软雅黑';
    -fx-text-fill: #278ddd;
}